# environment
.env
.venv
env/

# python specific
__pycache__
__pycache__/*
*.pyc

# model files
*.pt
*.pth
*.h5

# data files
data
*.jpg
*.jpeg
*.png
*.mp4

# deprecated - keeping local for reference
backend-old
backend-old/*