aioredis
alembic
celery[redis]
fastapi[all]
flower
httpx 
jwt
opencv-python==4.10.0.84
passlib[bcrypt]
psycopg2-binary
pytest 
python-jose[cryptography]
python-multipart
redis
shapely
sqlmodel
sqlalchemy
ultralytics
uvicorn[standard]
paddleocr[all]
pandas==2.2.0
