# Core Framework & Web Server
fastapi[all]
uvicorn[standard]
httpx

# Database & ORM
sqlalchemy
sqlmodel
psycopg2-binary
alembic

# Background Tasks & Message Broker
celery
flower
redis
aioredis

# Security & Authentication
jwt
python-jose[cryptography]
passlib[bcrypt]

# Testing
pytest

# CLI & Plugins
click
click-didyoumean
click-plugins
click-repl

# Machine Learning (If Needed)
ultralytics
python-multipart
