@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #367f2b;
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container__nav {
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Show login */

/*=============== BREAKPOINTS ===============*/
/* For medium devices */

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
}

.header {
  background-color: #fff;
}
.container__nav {
  height: 60px;
}

.content__nav__div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.name__div {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.name__div p {
  margin: 0;
  padding: 1px 0; /* 1px gap between the paragraphs */
  font-size: var(--normal-font-size);
  color: #2d3748;
}

.name__div img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.bold__font {
  font-weight: 600;
  font-size: var(--normal-font-size);
}
