.engagement__app__container__row {
  display: flex;
  gap: 20px;
}

.engagement__footfall__container {
  flex: 0.35;
}

.engagement__video__container__row {
  flex: 0.65;
}

@media screen and (max-width: 1150px) {
  .engagement__app__container__row {
    flex-direction: column;
    gap: 0;
    flex-direction: column-reverse;
  }
}
